@font-face {
    font-family: "dnx:arial";
    src: url("sphone:fonts/arial.ttf");
    font-size: 52px;
}


.home {
    width: 1920px;
    height: 1080px;
}

.background {
}

.case {
    background-image: url("sphone:textures/ui/background/acsguis.png");
    left: 82%;
    width: 330px;
    height: 675px;
    top: 35%;
}

#top_clock {
    font-family: "dnx:arial";
    color: white;
    height: 50px;
    left: 1610px;
    top: 392px;
    font-size: 3px;
}
.home_bar {
    height: 9px;
    width: 150px;
    left: 1665px;
    top: 1019px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

.home_bar:hover {
    background-color: #90949F;
}

.top_icons {
    background-image: url("sphone:textures/ui/icons/other.png");
    height: 14px;
    width: 48px;
    left: 1810px;
    top: 412px;
}