@font-face {
    font-family: "dnx:arial";
    src: url("sphone:fonts/arial.ttf");
    font-size: 52px;
}

@font-face {
    font-family: "dnx:montserrat";
    src: url("sphone:fonts/montserrat.ttf");
    font-size: 52px;
}
@font-face {
    font-family: "dnx:montserratlow";
    src: url("sphone:fonts/montserrat.ttf");
    font-size: 48px;
}



.home {
    width: 1920px;
    height: 1080px;
}

.background {
}

#root{
    right: 32px;
    width: 298px;
    height: 646px;
    border-radius: 41px;
    bottom: 42px;
    z-index: 1;
}

.case {
    /*background-image: url("sphone:textures/ui/background/acsgui.png");*/
    left: 82%;
    width: 330px;
    height: 675px;
    top: 35%;
}

.camera{
    background-image: url("sphone:textures/ui/background/camera.png");
    width: 96px;
    height: 29px;
    top: 23px;
    horizontal-position: center;
    z-index: 12;
}

#top_clock {
    font-family: "dnx:arial";
    color: white;
    height: 50px;
    left: 1610px;
    top: 392px;
    font-size: 3px;
    z-index: 10;
}
.home_bar {
    height: 9px;
    width: 150px;
    left: 1665px;
    top: 1019px;
    background-color: #FFFFFF;
    border-radius: 5px;
    z-index: 10;
}

.home_bar:hover {
    background-color: #90949F;
}

.top_icons {
    background-image: url("sphone:textures/ui/icons/other.png");
    height: 14px;
    width: 48px;
    left: 1810px;
    top: 412px;
    z-index: 10;
}