/*
 * SPhone - Tous droits réservés. (by 0hSandji)
 */

.home {
    width: 1920px;
    height: 1080px;
}

#case {
    background-image: url("sphone:textures/ui/phone.png");
    left: 82%;
    width: 330px;
    height: 675px;
    top: 35%;
}

#background {
    background-color: #242425;
    left: 1590px;
    width: 300px;
    height: 646px;
    top: 392px;
}

#top_clock {
    color: white;
    height: 50px;
    left: 1610px;
    top: 392px;
    font-size: 17px;
}

#top_icons {
    background-image: url("sphone:textures/ui/icons/other.png");
    height: 14px;
    width: 48px;
    left: 1810px;
    top: 412px;
}

#home_bar {
    height: 9px;
    width: 150px;
    left: 1665px;
    top: 1019px;
    background-color: #FFFFFF;
    border-radius: 5px;
}

#home_bar:hover {
    background-color: #90949F;
}

#field {
    background-color: #242425;
    border-color: #242425;
    width: 270px;
    height: 70px;
    left: 1600px;
    top: 520px;
    font-size: 40px;
}

#button_ac{
    height: 70px;
    width: 67px;
    left: 1600px;
    top: 600px;
    background-color: #A5A5A5;
    border-radius: 50%;
    color: black;
    text-align: center;
    font-size: 30px;
    text-shadow: disable;
}

#button_ac:hover {
    background-color: #787878;
}

