/*
 * SPhone - Tous droits réservés. (by 0hSandji)
 */

#field {
    background-color: #242425;
    border-color: #242425;
    width: 270px;
    height: 70px;
    left: 1600px;
    top: 520px;
    font-size: 40px;
}

#button_ac{
    height: 70px;
    width: 67px;
    left: 1600px;
    top: 600px;
    background-color: #A5A5A5;
    border-radius: 50%;
    color: black;
    text-align: center;
    font-size: 30px;
    text-shadow: disable;
}

#button_ac:hover {
    background-color: #787878;
}

