.contacts_list {
    width: 90%;
    height: 70%;
    top: 20%;
    left: 5%;
}
#app_title {
    font-size: 25px;
    left: 4%;
    top: 10%;
    height: 5%;
    width: 50%;
}
.search_contact{
    width: 80%;
    height: 5%;
    top: 15%;
    left: 10%;
}
#button_add {
    right: 5%;
    top: 10%;
    height: 5%;
    width: 10%;
    border-radius: 40%;
    background-color: #599AF8;
    color: white;
    text-align: center;
    font-size: 25px;
}

#button_add:hover {
    background-color: #1978ff;
}

.contact_background {
    background-color: #323232;
    width: 90%;
    height: auto;
    left: 5%;
    top: auto;
    border-radius: 10px;
}
.contact_background:hover {
    background-color: #5a5a5a;
}
.contact_avatar {
    width: 17%;
    height: 80%;
    left: 7%;
    top: 10%;
    border-radius: 5px;
}
#contact_name {
    width: 70%;
    height: 100%;
    left: 30%;
    font-size: 20px;
    color: white;
    text-align: left;
}
