/*
 * SPhone - Tous droits réservés. (by 0hSandji)
 */

#app_title {
    font-size: 25px;
    left: 4%;
    top: 10%;
    height: 5%;
    width: 40%;
}

#button_add {
    right: 5%;
    top: 10%;
    height: 5%;
    width: 10%;
    border-radius: 40%;
    background-color: #599AF8;
    color: white;
    text-align: center;
    font-size: 25px;
}

#button_add:hover {
    background-color: #1978ff;
}

.message {
    background-image: url("sphone:textures/ui/icons/message0.png");
    width: 10%;
    height: 5%;
    right: 15%;
    top: 10%;
}
.message:hover {
    background-image: url("sphone:textures/ui/icons/message1.png");
}

.call {
    background-image: url("sphone:textures/ui/icons/tel.png");
    width: 10%;
    height: 5%;
    right: 25%;
    top: 10%;
}
.call:hover {
    background-image: url("sphone:textures/ui/icons/tel1.png");
}


#view_contact_avatar {
    width: 40%;
    height: 20%;
    left: 30%;
    top: 20%;
 }
#name {
    width: 100%;
    height: 5%;
    left: 0%;
    top: 40%;
    font-size: 12px;
    color: white;
    text-align: center;
}
#lastname {
    width: 100%;
    height: 5%;
    left: 0%;
    top: 45%;
    font-size: 12px;
    color: white;
    text-align: center;
}
#phone {
    width: 100%;
    height: 5%;
    left: 0%;
    top: 50%;
    font-size: 12px;
    color: white;
    text-align: center;
}
#notes {
    width: 90%;
    height: 20%;
    left: 5%;
    top: 55%;
    font-size: 12px;
    color: white;
    text-align: center;
}

