.contacts_list {
    width: 90%;
    height: 70%;
    top: 20%;
    left: 5%;
}

#app_title {
    font-size: 25px;
    left: 4%;
    top: 10%;
    height: 5%;
    width: 50%;
}


#contact_message{
    height: 90%;
    width: 100%;
    padding-left: 5px;
    padding-top: 10px;
    font-size: 16px;
    text-align-vertical: top;
}

#contact_background {
    background-color: #323232;
    width: 80%;
    left: 5%;
    /*min-height: 10%;*/
    height: auto;
    top: auto;
    border-radius: 10px;
}

#contact_background_me{
    background-color: #0676f3;
    width: 80%;
    right: 5%;
    /*min-height: 10%;*/
    height: auto;
    top: auto;
    border-radius: 10px;
}

#lastmessage {
    font-size: 10px;
    color: white;
    left: 0%;
    top: 30%;
    height: 40%;
    width: 100%;
}
#date {
    text-align: right;
    font-size: 10px;
    color: white;
    right: 0%;
    bottom: 0%;
    height: auto;
    width: auto;
}

.message {
    width: 80%;
    height: 5%;
    bottom: 5%;
    left: 5%;
}
.send {
    background-image: url("sphone:textures/ui/icons/send.png");
    width: 10%;
    height: 5%;
    bottom: 5%;
    right: 5%;
}