.contacts_list {
    width: 90%;
    height: 70%;
    top: 20%;
    left: 5%;
}
#app_title {
    font-size: 25px;
    left: 8%;
    top: 10%;
    height: 5%;
    width: 50%;
}
.search_contact{
    width: 80%;
    height: 5%;
    top: 15%;
    left: 10%;
}
.contact_background {
    background-color: #323232;
    width: 90%;
    height: auto;
    left: 5%;
    top: auto;
    border-radius: 10px;
}
.contact_background:hover {
    background-color: #5a5a5a;
}

#name {
    font-size: 20px;
    color: white;
    left: 2%;
    top: 3%;
    height: 40%;
    width: 90%;
}

#lastmessage {
    font-size: 10px;
    color: white;
    left: 0%;
    top: 30%;
    height: 40%;
    width: 100%;
}
#date {
    text-align: right;
    font-size: 10px;
    color: white;
    right: 0%;
    bottom: 0%;
    height: 30%;
    width: 50%;
}



.back {
    background-color: #a79025;
    width: 90%;
    height: auto;
    left: 5%;
    top: auto;
    border-radius: 10px;
}
.back:hover {
    background-color: #cbb654;
}
#title {
    text-align: center;
    font-size: 10px;
    color: white;
    left: 0%;
    top: 0%;
    height: 30%;
    width: 100%;
}

#button_add {
    right: 5%;
    top: 10%;
    height: 5%;
    width: 10%;
    border-radius: 40%;
    background-color: #599AF8;
    color: white;
    text-align: center;
    font-size: 25px;
}