.contacts_list {
    width: 90%;
    height: 70%;
    top: 17%;
    left: 5%;
}

#app_title {
    font-family: "dnx:arial";
    font-size: 5px;
    left: 8%;
    top: 9%;
    height: 7%;
    width: 50%;
}

#contact_message{
    height: 90%;
    width: 100%;
    padding-left: 5px;
    font-family: "dnx:arial";
    font-size: 3px;
    text-align-vertical: top;
    padding-top: 15px;
}

#contact_background {
    background-color: #323232;
    width: 80%;
    left: 3%;
    /*min-height: 10%;*/
    height: auto;
    top: auto;
    border-radius: 10px;
}

#contact_background:hover {
    background-color: #414141;
}

#contact_background_me{
    background-color: #0676f3;
    width: 80%;
    right: 3%;
    /*min-height: 10%;*/
    height: auto;
    top: auto;
    border-radius: 10px;
}

#contact_background_me:hover {
    background-color: #348cf3;
}

#lastmessage {
    font-size: 10px;
    color: white;
    left: 0%;
    top: 30%;
    height: 40%;
    width: 100%;
}
#date {
    text-align: right;
    font-size: 10px;
    color: white;
    right: 0%;
    bottom: 0%;
    height: auto;
    width: auto;
}

.message {
    border-radius: 5px;
    font-size: 15px;
    width: 75%;
    height: 5%;
    bottom: 6%;
    left: 7%;
}

.send {
    text-align: center;
    border-radius: 5px;
    font-size: 17px;
    background-color: #1957d3;
    width: 9%;
    height: 5%;
    bottom: 6%;
    right: 8%;
}

.send:hover {
    background-color: #2a67e1;
}

.position {
    border-radius: 10px;
    background-color: #1957d3;
    width: 10%;
    height: 5%;
    font-size: 25px;
    left: 82%;
    top: 10%;
    text-align: center;
}

.position:hover {
    background-color: #2a67e1;
}