

.app {
    top: auto;
    left: auto;
    height: auto;
    width: auto;
}
.app_list {
    width: 80%;
    height: 80%;
    top: 10%;
    left: 13%;
}
.app_list_bottom {
    width: 73%;
    height: 10%;
    top: 85%;
    left: 18%;
}
.app_list_bottom_deco {
    width: 73%;
    height: 10%;
    top: 85%;
    left: 13%;
    background: rgba(160,160,160, 78);
    border-radius: 25px;
}
.app_bottom {
    top: 50%;
    bottom: 50%;
    left: auto;
    height: auto;
    width: auto;
}

