/*
 * SPhone - Tous droits réservés. (by 0hSandji)
 */

.home {
    width: 1920px;
    height: 1080px;
}

.case {
    background-image: url("sphone:textures/ui/phone.png");
    left: 82%;
    width: 330px;
    height: 675px;
    top: 35%;
}

.background {
    background-image: url("sphone:textures/ui/background/test.png");
    left: 1590px;
    width: 299px;
    height: 646px;
    top: 392px;
}

#top_clock {
    color: white;
    height: 50px;
    left: 1610px;
    top: 392px;
    font-size: 17px;
}
.home_bar {
    height: 9px;
    width: 150px;
    left: 1665px;
    top: 1019px;
    background-color: #FFFFFF;
    border-radius: 5px;
}


.top_icons {
    background-image: url("sphone:textures/ui/icons/other.png");
    height: 14px;
    width: 48px;
    left: 1810px;
    top: 412px;
}

#apps {
    background-color: rgba(0, 0, 0, 50);
    left: 1619px;
    width: 240px;
    height: 66px;
    top: 965px;
    border-radius: 25px;
}

#app_call {
    background-image: url("sphone:textures/ui/icons/call.png");
    left: 1647px;
    width: 46px;
    height: 48px;
    top: 975px;
}

#app_call:hover {
    left: 1646px;
    width: 48px;
    height: 50px;
    top: 973px;
}

#app_notes {
    background-image: url("sphone:textures/ui/icons/notes.png");
    left: 1717px;
    width: 46px;
    height: 48px;
    top: 975px;
}

#app_notes:hover {
    left: 1716px;
    width: 48px;
    height: 50px;
    top: 973px;
}

#app_gallery {
    background-image: url("sphone:textures/ui/icons/gallery.png");
    left: 1787px;
    width: 46px;
    height: 48px;
    top: 975px;
}

#app_gallery:hover {
    left: 1786px;
    width: 48px;
    height: 50px;
    top: 973px;
}

#app_message {
    background-image: url("sphone:textures/ui/icons/message.png");
    left: 1610px;
    width: 46px;
    height: 48px;
    top: 460px;
}

#app_message:hover {
    left: 1609px;
    width: 48px;
    height: 50px;
    top: 458px;
}

#app_instagram {
    background-image: url("sphone:textures/ui/icons/instagram.png");
    left: 1680px;
    width: 46px;
    height: 48px;
    top: 460px;
}

#app_instagram:hover {
    left: 1679px;
    width: 48px;
    height: 50px;
    top: 458px;
}

#app_settings {
    background-image: url("sphone:textures/ui/icons/settings.png");
    left: 1750px;
    width: 46px;
    height: 48px;
    top: 460px;
}

#app_settings:hover {
    left: 1749px;
    width: 48px;
    height: 50px;
    top: 458px;
}

#app_map {
    background-image: url("sphone:textures/ui/icons/map.png");
    left: 1820px;
    width: 46px;
    height: 48px;
    top: 460px;
}

#app_map:hover {
    left: 1819px;
    width: 48px;
    height: 50px;
    top: 458px;
}

.app_contact {
    background-image: url("sphone:textures/ui/icons/contacts.png");
    left: 1610px;
    width: 46px;
    height: 48px;
    top: 535px;
}

.app_contact:hover {
    left: 1609px;
    width: 48px;
    height: 50px;
    top: 531px;
}

#app_text {
    color: white;
    font-size: 10px;
}