#root{
    background-color: #1C3360;
}

#app_title {
    font-size: 20px;
    left: 4%;
    top: 10%;
    height: 5%;
    width: 100%;
    z-index: 2;
}

.textarea{
    padding-top: 5px;
    padding-left: 5px;
    width: 89%;
    height: 7%;
    left: 4%;
    background-color: #323232;
    border: 2px;
    border-color: #b5b5b5;
    color: white;
    font-size: 20px;
    z-index: 2;
}

#nom {
    top: 20%;
}
#prenom {
    top: 30%;
}
#numero{
    top: 40%;
}
#notes{
    top: 50%;
}
#photo{
    top: 60%;
    background-image: none;
}
#photoprev {
    top: 70%;
    background-color: transparent;
    height: 13%;
    border:none;
}
.button_add{
    background-image: url("sphone:textures/ui/icons/add.png");
    width: 50px;
    height: 52px;
    horizontal-position: center;
    bottom: 8%;
}
.button_add:hover{
    background-image: url("sphone:textures/ui/icons/add1.png");
}

.edit{
    background-image: url("sphone:textures/ui/icons/edit.png");
    width: 50px;
    height: 52px;
    horizontal-position: center;
    bottom: 30%;
}
.edit:hover{
    background-image: url("sphone:textures/ui/icons/edit1.png");
}

.delete{
    background-image: url("sphone:textures/ui/icons/delete.png");
    width: 50px;
    height: 52px;
    horizontal-position: center;
    bottom: 20%;
}
.delete:hover{
    background-image: url("sphone:textures/ui/icons/delete1.png");
}
