
#app_title {
    font-size: 20px;
    left: 10%;
    top: 10%;
    height: 5%;
    width: 100%;
}
.prenom {
    width: 80%;
    height: 7%;
    top: 20%;
    left: 10%;
    background-color: #323232;
    border: 2px;
    border-color: #b5b5b5;
    color: white;
    font-size: 20px;
}
.nom {
    width: 80%;
    height: 7%;
    top: 31%;
    left: 10%;
    background-color: #323232;
    border: 2px;
    border-color: #b5b5b5;
    color: white;
    font-size: 20px;
}
.numero{
    width: 80%;
    height: 7%;
    top: 42%;
    left: 10%;
    background-color: #323232;
    border: 2px;
    border-color: #b5b5b5;
    color: white;
    font-size: 20px;
}
.notes{
    width: 80%;
    height: 7%;
    top: 53%;
    left: 10%;
    background-color: #323232;
    border: 2px;
    border-color: #b5b5b5;
    color: white;
    font-size: 20px;
}
.button_add{
    background-image: url("sphone:textures/ui/icons/add.png");
    width: 50px;
    height: 52px;
    left: 44%;
    bottom: 25%;
}
.button_add:hover{
    background-image: url("sphone:textures/ui/icons/add1.png");
}
.edit{
    background-image: url("sphone:textures/ui/icons/edit.png");
    width: 50px;
    height: 52px;
    left: 44%;
    bottom: 30%;
}
.edit:hover{
    background-image: url("sphone:textures/ui/icons/edit1.png");
}



