#root{
    background-color: #1E1E1E;
}

#app_title {
    font-size: 25px;
    left: 4%;
    top: 8%;
    height: auto;
    width: 50%;
}

#button_add {
    right: 4%;
    top: 8%;
    width: 24px;
    height: 26px;
    border-radius: 35%;
    background-color: #ffde3c;
    color: white;
    text-align: center;
    font-size: 25px;
    z-index: 2;
}
#button_add:hover {
    background-color: #ffe355;
}

.contacts_list {
    width: 100%;
    height: 75%;
    top: 19%;
    z-index: 3;
}

#lastmessage {
    text-shadow: none;
    font-size: 13px;
    color: white;
    left: 0%;
    top: 40%;
    height: 40%;
    width: 100%;
    z-index: 4;
}

#date {
    text-align: right;
    font-size: 10px;
    color: white;
    right: 0%;
    bottom: 0%;
    height: 30%;
    width: 50%;
    z-index: 2;
}

.back {
    background-color: #ffde3c;
    width: 90%;
    height: auto;
    left: 5%;
    top: auto;
    border-radius: 10px;
    z-index: 2;
}

.back:hover {
    background-color: #ffe355;
}

#title {
    text-align: center;
    font-size: 20px;
    color: white;
    left: 0%;
    top: 10%;
    height: 30%;
    width: 100%;
    z-index: 2;
}