#root{
    background-color: #ffffff;
}

.app_container {
    width: 80%;
    height: 50%;
    top: 5%;
}

#app_title {
    font-family: "dnx:montserratlow";
    font-size: 3;
    left: 8%;
    color: black;
    height: 15%;
}

.settings_list {
    top: 30%;
    width: 100%;
    left: 10%;
    height: 70%;
    background-color: white;
}
.settings_element {
    width: auto;
    height: 70px;
    left: auto;
    top: auto;
}
.settings_element_icon {
    width: 40px;
    height: 40px;
    left: 5%;
    top: 50%;
    bottom: 50%;
    /*background-color: purple;*/
}
.settings_element_name {
    left: 25%;
    top: 50%;
    bottom: 50%;
}
.settings_element_desc {
    top: 35%;
}
#top_clock {
    color: black;
}
.top_icons {
    background-image: url("sphone:textures/ui/icons/other_b.png");
    height: 14px;
    width: 48px;
    left: 1810px;
    top: 412px;
    z-index: 10;
}
.settings_element_desc {
    color: black;
    font-family: "dnx:montserratlow";
    font-size: 2;
    width: 50%;
}
.settings_element_name {
    color: black;
    font-family: "dnx:montserratlow";
    font-size: 2;
    width: 50%;
}

.home_bar {
    height: 9px;
    width: 150px;
    left: 1665px;
    top: 1019px;
    background-color: #6f6f6f;
    border-radius: 5px;
    z-index: 10;
}
.home_bar:hover {
    background-color: #90949F;
}

/* Customisation */

.backgrounds  {
    background-color: white;
    width: 100%;
    height: 45%;
    top: 25%;
    left: 8%;
}
.background {
    left: auto;
    width: auto;
    top: 120px;
    height: 120px;
}
.background_label {
    left: auto;
    color: black;
    font-family: "dnx:montserratlow";
    font-size: 2;
    top: 85%;
    width: 33%;
}
.background_label_selected {
    left: auto;
    color: black;
    font-family: "dnx:montserratlow";
    font-size: 2;
    top: 85%;
    width: 30%;
    color: green;
}

#app_version {
    font-family: "dnx:montserratlow";
    font-size: 2;
    left: 8%;
    width: 80%;
    color: black;
    height: 15%;
    top: 20%;
    z-index: 900;
    background-color: transparent;
}
.nbtel {
    font-family: "dnx:montserratlow";
    font-size: 2;
    left: 8%;
    width: 80%;
    color: black;
    top: 25%;
    height: 15%;
    z-index: 900;
    background-color: transparent;
}