#root{
    background-color: #ffffff;
}

.app_container {
    width: 80%;
    height: 50%;
    top: 5%;
}

#app_title {
    font-family: "dnx:montserratlow";
    font-size: 3;
    left: 8%;
    color: black;
    height: 15%;
}

.settings_list {
    top: 30%;
    width: 100%;
    left: 10%;
    height: 70%;
    background-color: white;
}
.settings_element {
    width: auto;
    height: auto;
    left: auto;
    top: auto;
    background-color: white;
}
.settings_element_icon {
    width: 40px;
    height: 40px;
    left: 5%;
    top: 50%;
    bottom: 50%;
    /*background-color: purple;*/
}
.settings_element_name {
    left: 25%;
    top: 50%;
    bottom: 50%;
}
.settings_element_desc {
    top: 35%;
}
#top_clock {
    color: black;
}
.top_icons {
    background-image: url("sphone:textures/ui/icons/other_b.png");
    height: 14px;
    width: 48px;
    left: 1810px;
    top: 412px;
    z-index: 10;
}
.settings_element_desc {
    color: black;
    font-family: "dnx:montserratlow";
    font-size: 2;
    width: 50%;
}
.settings_element_name {
    color: black;
    font-family: "dnx:montserratlow";
    font-size: 2;
    width: 50%;
}

/* Customisation */

.backgrounds  {
    background-color: red;
    width: 100%;
    height: 75%;
    top: 25%;
    left: 8%;
}
.background {
    left: auto;
    width: auto;
    height: 120px;
}
.background_label {
    left: auto;
    background-color: transparent;
    color: white;
    font-family: "dnx:montserratlow";
    font-size: 2;
    top: 50%;
    width: 100%;
}
.background_label_selected {
    left: auto;
    background-color: transparent;
    color: green;
    font-family: "dnx:montserratlow";
    font-size: 2;
    top: 50%;
    width: 100%;
}