.home {
    width: 1920px;
    height: 1080px;
}

#phone_case {
    background-image: url("sphone:textures/case.png");
    left: 82%;
    width: 330px;
    height: 670px;
    top: 37%;
}

#phone_background_gray {
    background-color: #272727;
    left: 1590px;
    width: 300px;
    height: 638px;
    top: 414px;
}

#phone_clock {
    height: 50px;
    left: 1610px;
    top: 411px;
    font-size: 13px;
}

#phone_top_icons {
    background-image: url("sphone:textures/icons.png");
    height: 12px;
    width: 48px;
    left: 1820px;
    top: 425px;
}

#phone_task_bar {
    background-color: rgba(255, 255, 255, 100);
    left: 1638px;
    width: 200px;
    height: 13px;
    top: 1025px;
    border-radius: 7px;
}

#phone_task_bar:hover {
    background-color: rgba(255, 255, 255, 200);
}

#app_title {
    height: 100px;
    width: 200px
    color: white;
    left: 1605px;
    top: 425px;
    font-size: 25px;
}

#player_head {
    height: 90px;
    width: 85px
    left: 1697px;
    top: 540px;
}

#player_head_back {
    height: 110px;
    width: 265px;
    background-color: rgba(82, 82, 82, 90);
    border-radius: 10px;
    left: 1605px;
    top: 530px;
}

#phone_number {
    height: 70px;
    width: 265px;
    background-color: rgba(82, 82, 82, 90);
    border-radius: 10px;
    left: 1605px;
    top: 650px;
    font-size: 20px;
    text-align: center;
}

#phone_background_page {
    height: 40px;
    width: 265px;
    background-color: rgba(82, 82, 82, 90);
    border-radius: 10px;
    left: 1605px;
    top: 750px;
    font-size: 20px;
    text-align: right;
}

#phone_background_page:hover {
    background-color: rgba(82, 82, 82, 150);
}

#phone_ring_page {
    height: 40px;
    width: 265px;
    background-color: rgba(82, 82, 82, 90);
    border-radius: 10px;
    left: 1605px;
    top: 795px;
    font-size: 20px;
    text-align: right;
}

#phone_ring_page:hover {
    background-color: rgba(82, 82, 82, 150);
}

#phone_open_last_app {
    height: 40px;
    width: 265px;
    background-color: rgba(82, 82, 82, 90);
    border-radius: 10px;
    left: 1605px;
    top: 860px;
    font-size: 20px;
}

.switch-button-off
{
    width: 25px;
    height: 25px;
    left: 1820px;
    border: 1px gray;
    border-radius: 10px;
    background-color: rgb(180, 0, 0);
    background-image: none;
    top: 868px;
}
.switch-button-off:hover
{
    background-color: red;
}
.switch-button-on
{
    width: 25px;
    height: 25px;
    left: 1820px;
    border: 1px gray;
    border-radius: 10px;
    background-color: rgb(40,200,40);
    background-image: none;
    top: 868px;
}

.switch-button-on:hover
{
    background-color: green;
}

#phone_silence_mod_back{
    height: 40px;
    width: 265px;
    background-color: rgba(82, 82, 82, 90);
    border-radius: 10px;
    left: 1605px;
    top: 905px;
    font-size: 20px;
}

.switch-button-off-2
{
    width: 25px;
    height: 25px;
    left: 1820px;
    border: 1px gray;
    border-radius: 10px;
    background-color: rgb(180, 0, 0);
    background-image: none;
    top: 913px;
}
.switch-button-off-2:hover
{
    background-color: red;
}
.switch-button-on-2
{
    width: 25px;
    height: 25px;
    left: 1820px;
    border: 1px gray;
    border-radius: 10px;
    background-color: rgb(40,200,40);
    background-image: none;
    top: 913px;
}

.switch-button-on-2:hover
{
    background-color: green;
}

#phone_background_one {
    height: 40px;
    width: 265px;
    background-color: rgba(82, 82, 82, 90);
    border-radius: 10px;
    left: 1605px;
    top: 550px;
    font-size: 20px;
    text-align: center;
}

#phone_background_one:hover {
    background-color: rgba(82, 82, 82, 150);
}

#phone_background_two {
    height: 40px;
    width: 265px;
    background-color: rgba(82, 82, 82, 90);
    border-radius: 10px;
    left: 1605px;
    top: 600px;
    font-size: 20px;
    text-align: center;
}

#phone_background_two:hover {
    background-color: rgba(82, 82, 82, 150);
}

#phone_background_three {
    height: 40px;
    width: 265px;
    background-color: rgba(82, 82, 82, 90);
    border-radius: 10px;
    left: 1605px;
    top: 650px;
    font-size: 20px;
    text-align: center;
}

#phone_background_three:hover {
    background-color: rgba(82, 82, 82, 150);
}